In [ ]:
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
pip install pandas
import pandas as pd
data =[4, 8, 15, 16, 23,42]
series = pd.Series(data)
print(series)

In [ ]:
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [7]:
data1=[1,2,3,4,5,6,7,8,9,10]
series1 = pd.Series(data1)
print(series1)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
Q3.Create a Pandas DataFrame that contains the following data:

In [13]:
data2={'name':["Alice","Bob","Clair"],
      'age':[30,24,54],
      'gender':["male","female",'male']}
df = pd.DataFrame(data2)
df

    name  age  gender
0  Alice   30    male
1    Bob   24  female
2  Clair   54    male

In [ ]:
Q4.What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [ ]:
In pandas, a DataFrame is a two-dimensional labeled data structure that can be thought of as a table, where each column can have a different data type.
It's similar to a spreadsheet. It is created using dictionaries of Series or arrays. Each column in a DataFrame is a pandas Series.
A Series in pandas is a one-dimensional labeled array capable of holding data of any type. It's similar to a single column in a DataFrame.

In [ ]:
import pandas as pd

# Creating a Series
s = pd.Series([1, 2, 3, 4, 5])

# Creating a DataFrame
data = {'Numbers': [1, 2, 3, 4, 5]}
df = pd.DataFrame(data)

print("Series:")
print(s)

print("\nDataFrame:")
print(df)

In [ ]:
Series s contains a one-dimensional list of numbers. The DataFrame df contains a table with one column labeled 'Numbers' and the same set of numbers. 
The key difference is that the DataFrame has column labels and is a two-dimensional structure, whereas the Series is a one-dimensional structure

In [ ]:
Q5.What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these 
functions?

In [ ]:
Pandas offers a range of functions for data manipulation in DataFrames:

head() and tail(): Display the first or last few rows.
shape: Returns the dimensions of the DataFrame.
info(): Provides information about the DataFrame's data types and missing values.
describe(): Generates summary statistics.
groupby(): Groups data based on specific columns and allows aggregation.
sort_values(): Sorts the DataFrame based on specified columns.
fillna(): Fills missing values with a specified value or method.
drop(): Removes rows or columns.
apply(): Applies a function to each element.
merge(): Combines DataFrames based on keys.
pivot_table(): Creates a pivot table for cross-tabulation.
duplicated(): Identifies duplicated rows.
plot(): Creates basic plots

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
Out of Series, DataFrame, and Panel in Pandas, DataFrame is mutable in nature. This means you can change the values and add or remove rows or columns 
after creating a DataFrame. Series, on the other hand, is only value-mutable, meaning you can change the values within it but not its length. 
Panel is a three-dimensional data structure in Pandas, but it has been deprecated in favor of using MultiIndex DataFrames.

For example, in a DataFrame, you can modify cell values, add new columns, or drop existing columns, making it a flexible choice for data manipulation 
and analysis

In [ ]:
create a DataFrame from multiple Series in Pandas by using methods like pd.concat() or by directly using the DataFrame constructor. For example, 
using pd.concat(), you can merge multiple Series as columns of the DataFrame.

In [14]:
import pandas as pd

# Creating two Series
s1 = pd.Series([1, 2, 3])
s2 = pd.Series(['A', 'B', 'C'])

df = pd.DataFrame({'Numbers': s1, 'Letters': s2})
print(df)

   Numbers Letters
0        1       A
1        2       B
2        3       C